/* --------------------------------- */
/* ----- Clients -----*/
/* --------------------------------- */

.img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--main-color);
  border-radius: 30rem;
  margin: 1rem;
}
.card-bodys {
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
border-radius: 50rem;}
.text{
  font-family: var(--ff-main-font-family);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #444444;
}
.title{
  font-family: var(--ff-main-font-family);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.Big{
  border-bottom: 3px solid var(--main-color);
  width: 260px;
  text-align: center;
  margin: 30px  auto;
}