:root{
  --ff-main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
--main-color: #A9592C;
--secondary-color:rgb(184, 242, 208);
}
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: var(--ff-main-font-family);
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
